
.vs/ERP_TECKIO/config/applicationhost.config
.vs/ERP_TECKIO/DesignTimeBuild/.dtbcache.v2
.vs/ERP_TECKIO/FileContentIndex/1bb62b4d-bcd5-4d85-9d2a-384d4a143018.vsidx
.vs/ERP_TECKIO/FileContentIndex/4f1f2b74-a431-4011-8eaf-e58b9c4cc3a5.vsidx
.vs/ERP_TECKIO/FileContentIndex/551a38d5-c0ba-4a8c-8b44-745c4cfcadd8.vsidx
.vs/ERP_TECKIO/FileContentIndex/946f7a87-f3bb-46cc-af92-f6a8355ace72.vsidx
.vs/ERP_TECKIO/FileContentIndex/dbdbf431-3faa-4067-9f81-991d89f17339.vsidx
.vs/ERP_TECKIO/v17/.suo
.vs/ERP_TECKIO/v17/DocumentLayout.backup.json
.vs/ERP_TECKIO/v17/DocumentLayout.json
.vs/ERP_TECKIO/FileContentIndex/9c340562-9658-4a83-b98c-0109117bb22d.vsidx
/.vs
/.vs/ERP_TECKIO
/.vs/ERP_TECKIO/config
*.vsidx
/.vs/ERP_TECKIO/v17
.vs/ERP_TECKIO/v17/.suo
.vs/ERP_TECKIO/v17/DocumentLayout.backup.json
.vs/ERP_TECKIO/v17/DocumentLayout.json
bin/Debug/net9.0/ERP_TECKIO.dll
bin/Debug/net9.0/ERP_TECKIO.pdb
obj/Debug/net9.0/ApiEndpoints.json
bin/Debug/net9.0/ERP_TECKIO.dll
bin/Debug/net9.0/ERP_TECKIO.pdb
obj/Debug/net9.0/ApiEndpoints.json
obj/Debug/net9.0/ERP_TECKIO.AssemblyInfo.cs
obj/Debug/net9.0/ERP_TECKIO.AssemblyInfoInputs.cache
obj/Debug/net9.0/ERP_TECKIO.assets.cache
obj/Debug/net9.0/ERP_TECKIO.csproj.AssemblyReference.cache
obj/Debug/net9.0/ERP_TECKIO.csproj.CoreCompileInputs.cache
obj/Debug/net9.0/ERP_TECKIO.csproj.FileListAbsolute.txt
obj/Debug/net9.0/ERP_TECKIO.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net9.0/ERP_TECKIO.genruntimeconfig.cache
obj/Debug/net9.0/ERP_TECKIO.sourcelink.json
obj/ERP_TECKIO.csproj.nuget.dgspec.json
obj/ERP_TECKIO.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
